body{
    background-color:burlywood;
}
h1{
    text-align: center;
    justify-content: center;
    display: block;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
h3{
    text-align: left;
    display: block;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
p{
    line-height: 40px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
p1{
    line-height: 40px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
p2{
    display:inline-block;
    text-align: justify;
    line-height: 35px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
